<?xml version="1.0" encoding="utf-8"?>
<odoo>
   <menuitem id="menu_accompany_root"
              name="accompany"
            
              sequence="10"/>
   <menuitem id="menu_accompany_operations"
              name="operations"
              parent="menu_accompany_root"
              sequence="10"/>
   <menuitem id="menu_accompany_offer"
              name="offers"
              parent="menu_accompany_root"
              sequence="10"/>
  <menuitem id="todo_root_menu"
               name="TO DO"
               parent="menu_accompany_root"
             />
<menuitem id="todo_menu"
              name="TO DO"
              parent="todo_root_menu"
             />


               
</odoo>
